@font-face {
    font-family: AdorNoirrit;
    src: url(fonts/AdorNoirrit.ttf);
}
body {
    font-family: AdorNoirrit;
}
.gradient-g {
    background: linear-gradient(90deg,rgb(26,138,40) 0%,rgb(26,138,63) 35%,rgb(26,138,109) 100%);
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}
.button-b {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px;
}
.s-heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.s-heading span {
    color: green;
}